%table.profile{:summary => "Information about following/followers"}
  %tr
    %td.main
      %h1= @title
      - unless @users.empty?
        %ul.users
          = render @users
        = will_paginate @users
    %td.sidebar.round
      %strong Name
      = @user.name
      %br/
      %strong URL
      = link_to user_path(@user), @user
      %br/
      %strong Posts
      = @user.posts.count
      %br/
      %strong Email
      = @user.email
      %br/
      %strong Skype-name
      = image_tag("skype.png", :class => "round")
      = @user.skypename
      %br/
      %strong ICQ
      = image_tag("icq.png", :class => "round")
      = @user.icq
      %br/
      = render 'shared/stats'
      - unless @users.empty?
        - @users.each do |user|
          = link_to gravatar_image_tag(user.email.to_s), user