%table.profile
  %tr
    %td.main
      - unless @user.posts.empty?
        %table.posts{:summary => "User posts"}
          = render @posts
        = will_paginate @posts
    %td.sidebar.round
      %strong Login
      = @user.login
      %br/
      %strong URL
      = link_to user_path(@user), @user
      %br/
      %strong Posts
      = @user.posts.count