%h1 Listing posts
%table
  %tr
    %th Content
    %th User
    %th
    %th
    %th
  - @posts.each do |post|
    %tr
      %td= post.content
      %td= link_to post.user_id, 'users/'+post.user_id.to_s
      %td= link_to 'Show', post
      %td= link_to 'Edit', edit_post_path(post)
      %td= link_to 'Destroy', post
%br/
= link_to 'New Post', new_post_path
%h1 Hi1
= link_to 'Posts', posts_path